.suggestions {
  width: 100vw;
  overflow-x: scroll;
  .suggestion {
    border: 1.4px solid #fff;
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    display: inline-block;
    float: left;
    border-radius: 20px;
    color: #fff;
    margin: 10px 2.5px;
  }
}